* {
    box-sizing: border-box;
}

.container {
    position: relative;
}

table {
    width:100%; 
    margin-top: 30px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    background-color: black;
    color: white;
}
td:last-of-type {
    width: 10%;
}

tr:hover td {
    background: #ccc;
    cursor: pointer;
}

#summary {
    color: red;
}

table input {
    width: 100%;
    background: transparent;
    border: none;
}

.legend {
    position: absolute;
    right: 0;
    top: 30px;
    border: solid 1px;
    padding: 10px;
}

.food-search {
    margin-top: 100px;
}